<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
    <main>
        <section id='top-container'>
            <h1>ClassifyAI</h1>
        </section>

        {% if result %}
        <section id="result">
            <div><IMG SRC="{{filepath}}" BORDER="1" width=300></div>
            <p>認識結果は<i class=result>{{result}}</i>です</p>
        </section>
        {% endif %}

        <section id=main-box>
            <p id='text'>「鳥, 猫, 犬」の画像分類を行います。<br>
                ファイルを選択して送信ボタンを押してください。</p>
        </section>

        <section id=form>
            <form action = "./" method = "POST" enctype = "multipart/form-data">
                <input id='file' type="file" name="file"><br>
                <input id='submit' type="submit">
            </form>
        </section>
        
    </main>
</body>
</html>